/* based on wordpress - core columns 
 LFK 2019-01-17_12.57.14

 trying to understand the css markup
 */
.wp-block-hero {
  max-width:903px;
}
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
    border: 1px solid red;
}




.wp-block-imageflip {
  position: relative;
.wp-block-imageflip-inner {
    display: grid;
    grid-template-columns: 1fr 1fr; // 2 colums
    grid-gap: 1rem;
    &:not(.grid-margin-x) {
      grid-gap: 0;
    }
    justify-items: stretch; //default
    grid-auto-flow: row; // left to right
    .master-toggle {
      grid-column: 1 / span 2;
      grid-row: 1;
     
      text-align: right;
      >div {
        position: absolute;
        display: inline-block;
        top:-10px;
        
        >div {
          margin-bottom: 0;
        }

      }
    }
    &.image-right {
      .image-wrapper.grid-item{
      // .grid-item:first-of-type{
        grid-column:2
      }
    }
    .grid-item {
      // grid-column: 1;
      grid-row: 2;
    }
  .image-wrapper {
   
  }
}
  
}

.restrict-40 {
  max-width: 40px;
}