/* based on wordpress - core columns 
 LFK 2019-01-17_12.57.14

 trying to understand the css markup
 */
 .wp-block-hero {
  max-width:903px;
}
/* Width of "wide" blocks */
.wp-block[data-align="wide"],.wp-block[data-type="liaison/teamtemplate"]  {
  max-width: 1080px;
  // border: 1px solid red;
}
.wp-fakeblock.wide {
  display:flex;
  .half {
      flex-basis: 50.00%; transform-origin: center center; transform: none;
  }
}
.wp-block[data-align="full"] {
  max-width: 1400px;
  margin: 0 auto;
  // border: 1px solid red;
}
.edit-post-visual-editor {
  .wp-block[data-type="larslo/hero"] {
    .editor-block-toolbar {
      // // see const supports = {
      //   // align: [ 'wide', 'full' ], // we hide this functionsliyy but hide with css components-toolbar
      // // };
      >.components-toolbar {
        display: none;
      }
    }
  }
}
/*  toolbar, blockcontrols */
.larslo-toolbar-button-toggle {
  &.notyet{
    // border:1px solid red;
    background-color: rgba(red, 0.5);
  }
}

.wp-block-hero {

}


.wp-block-hero.align-wide {
  position: relative;
  .wp-block-hero-inner {
    display: grid;
    grid-template-columns: 1fr 1fr; // 2 colums
    grid-gap: 1rem;
    &:not(.grid-margin-x) {
      grid-gap: 0;
    }
    justify-items: stretch; //default
    grid-auto-flow: row; // left to right
    .master-toggle {
      grid-column: 1 / span 2;
      grid-row: 1;

      text-align: right;
      >div {
        position: absolute;
        display: inline-block;
        top:-10px;
        
        >div {
          margin-bottom: 0;
        }

      }
    }
    &.image-right {
      .image-wrapper.grid-item{
      // .grid-item:first-of-type{
        grid-column:2
      }
    }
    .grid-item {
      // grid-column: 1;
      grid-row: 2;
    }
    .image-wrapper {

    }
  }
}

