/* 
these style only apply to "editor" / backend.
all frontend styles are done in theme (->_blocks.scss)
 LFK 2019-01-17_12.57.14
 */

@import '../../../../../../node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-text-alignment;
@import '../../../../../themes/yours/assets/styles/scss/_settings';
@import '../../../../../themes/yours/assets/styles/scss/yours/_classes';
@import '../../../../../themes/yours/assets/styles/scss/yours/_opener_green';

/* Width of "wide" blocks */
.wp-block[data-align="wide"],
.wp-block[data-type="liaison/hero-opener"], 
.wp-block[data-type="liaison/teamtemplate"], 
.wp-block[data-type="liaison/green-opener"], 
.wp-block[data-type="core/columns"],
.wp-block[data-type="liaison/mixin"],
.wp-block[data-type="liaison/mixin-kachel"],
.wp-block[data-type="liaison/mixin-kachel-3"],
.wp-block[data-type="liaison/columns"]
{
  max-width: 1080px; 
}


// hiding the fucking little tooltip on hovered blocks
.editor-block-list__breakcrumb {
  display: none !important;
}


h1.white {
  color:$white;
  >div {
    color:$white;
    
  }
}
.grid-container.flipped {
  .cell:nth-of-type(1) {
      @include flex-order(2);
    }
  .cell:nth-of-type(2) {
      @include flex-order(1);
    }
}


.hero-container {
  position: relative;
  margin-bottom: 200px;

  .image-wrap{
    position: relative;
  }
  .text-wrap{
    position: absolute;
    z-index: 10;
    top:40%;
    left:50%;
    transform: translateX(-50%);
    width:400px;
    height:400px;
    border-radius:50%;
    background-color: $turkis;
    padding: 1rem;
    right: 1rem;
    color:#FFF;
    font-size: 80%;
    text-align: center;
  }
}

/*  lines animation */
@include breakpoint(landscape) {
  
  @include breakpoint (medium) {
    .hero {
      position: relative;
      .lines {
        // content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width:50%;
        left: 65%;
        top:50%;
        height:50%;
          // background-color: $red;
      
      }
    
      }
    }
  }




/* when landscape max media then hide the .hasfull */
@include breakpoint(landscape) {
  @include breakpoint (medium) {
    .hero:not(.has_full){
      .hero_picture {
        max-width: 50%;
      }
    }
    .hero_picture.half.has_full {
      display: none;
    }
  }
}
/*  allways hide the full version on portrait  */
@include breakpoint(portrait) {
  .hero_picture.full {
    display: none;
  }
  // @include breakpoint (medium) {}
}



.wp-fakeblock.wide {
  display: flex; }
  .wp-fakeblock.wide .editor-inner-blocks {
    width: 100%;
  }
  .wp-fakeblock.wide .half, .wp-fakeblock.wide .half {
    flex-basis: 50.00%;
    transform-origin: center center;
    transform: none; }

.wp-block[data-align="full"] {
  max-width: 1400px;
  margin: 0 auto; }

.edit-post-visual-editor .wp-block[data-type="larslo/hero"] .editor-block-toolbar > .components-toolbar {
  display: none; }

/*  toolbar, blockcontrols */
.larslo-toolbar-button-toggle.notyet {
  background-color: rgba(255, 0, 0, 0.5); }

.wp-block-hero.align-wide {
  position: relative; }
  .wp-block-hero.align-wide .wp-block-hero-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    justify-items: stretch;
    grid-auto-flow: row; }
    .wp-block-hero.align-wide .wp-block-hero-inner:not(.grid-margin-x) {
      grid-gap: 0; }
    .wp-block-hero.align-wide .wp-block-hero-inner .master-toggle {
      grid-column: 1 / span 2;
      grid-row: 1;
      text-align: right; }
      .wp-block-hero.align-wide .wp-block-hero-inner .master-toggle > div {
        position: absolute;
        display: inline-block;
        top: -10px; }
        .wp-block-hero.align-wide .wp-block-hero-inner .master-toggle > div > div {
          margin-bottom: 0; }
    .wp-block-hero.align-wide .wp-block-hero-inner.image-right .image-wrapper.grid-item {
      grid-column: 2; }
    .wp-block-hero.align-wide .wp-block-hero-inner .grid-item {
      grid-row: 2; }

